/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Playwrite+IE:wght@100..400&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
  --primary-color: darkgreen; /* dark green */
  --secondary-color: #aa9581; /* light brown */
  --highlight-color: #416a8e; /* blue */
  --highlight-color-light: #7a9fc2; /* light blue */
  --primary-text-color: #5c2d2d;
}

/* Global styles */

header {
  z-index: 100;
}

body {
  font-family: var(--primary-font);
  margin-top: 90px;
  background-color: #2d4d38;
  /* background-image: ; */
  /* display: flex; */
  /* background: url("../images/background/iStock-1130565676.jpg"); */
  /* background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

.form-control {
  background-color: #cef542;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + calc(var(--bs-border-width) * 2));
  margin-bottom: 20px;
}

#submit-button .btn {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
}

.radio-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  font-family: var(--primary-font);
  font-optical-sizing: none;
  font-weight: 100;
  font-style: normal;
  font-size: large;
  color: #cef542;

  padding: 10px 10px 10px 10px;

  margin-top: 20px;
  z-index: 200;

  width: 100%;

  background-color: transparent;
}

.img-container-topmost {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* margin-top: 150px; */
}
.img-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 15px;
}

.img-container-carousel {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 15px;
  padding-top: 0;
}

.img-container-submit-confirmation {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: auto;
  /* justify-self: center; */
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: auto;
}

.card {
  margin: 0 0;
  float: none;
}

.card-body {
  width: 100%;
}

main #page-background {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  /* background: url("../images/background/iStock-1130565676.jpg"); */
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  /* object-fit: contain;
  position: relative; */
}

/* #intro-text {
  margin-top: 140px;
  color: #cef542;
} */

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* margin-top: 10px; */
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  margin-top: 50px;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;

  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  /* margin-top: 120px; */
}

/* .card-group {
  flex-shrink: 0;
  width: auto;
  max-width: 100%;


} */

/* page background section */
/* #hero {
  height: 600px;
  width: 100%;
  background: url("../images/background/Dunluce-Castle-Northern-Ireland.webp") no-repeat center center/cover;
  position: relative;
} */

/* h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
} */

.heading-text h2 {
  text-transform: uppercase;
  text-align: center;
  color: #cef542;
  position: relative;
  margin-top: 255px;
  font-family: var(--secondary-font);
  /* justify-content: center; */
}

.heading-text h3 {
  text-transform: uppercase;
  text-align: center;
  color: #cef542;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-transform: uppercase;
  color: #cef542;
  position: relative;
  margin-top: 140px;
  z-index: 200;
}

.hide-display {
  display: none;
}

#header-text {
  background-color: #2d4d38;
  /* border-bottom: 3px solid #9E8D47; */
  height: 70px;
  width: auto;
  border: 5px solid #9e8d47;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#welcome-text {
  /* // <weight>: Use a value from 100 to 400
// <uniquifier>: Use a unique and descriptive class name */

  font-family: "Playwrite IE", cursive;
  font-optical-sizing: none;
  font-weight: 100;
  font-style: normal;
  font-size: x-large;
  color: #cef542;

  padding: 10px 10px 10px 10px;
  line-height: 1em;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;

  width: 100%;

  background-color: transparent;
  z-index: 100;
}

#text-above-grid {
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-optical-sizing: none;
  font-weight: 100;
  font-style: normal;
  font-size: x-large;
  color: #cef542;

  padding: 10px 10px 10px 10px;

  position: relative;
  /* justify-content: center; */
  /* text-justify: auto; */
  margin-top: 20px;
  z-index: 200;

  width: 100%;

  /* height: 19vh; */
  background-color: transparent;
}

.form-text {
  font-family: var(--primary-font);
  font-optical-sizing: none;
  font-weight: 100;
  font-style: normal;
  font-size: large;
  color: #cef542;

  padding: 10px 10px 10px 10px;

  text-align: justify;
  display: flex;
  position: relative;
  justify-content: left;

  margin-top: 20px;
  z-index: 200;

  width: 100%;

  /* height: 19vh; */
  background-color: transparent;
}

.intro-text {
  margin-top: 15px;
  color: #cef542;

  /* color: white; */
}

h2 {
  margin-bottom: 2rem;
}

.sub-heading-color {
  color: var(--highlight-color);
}

.section {
  padding-top: 4rem;
  justify-content: center;
  /* margin-top: 250px; */
}

/* .discount-text {
  width: 290px;
  /* max-width: 320px; */
/* background-color: var(--highlight-color);
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
} */
*/

/* Buttons */

/* .custom-button-filled {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: white;
} */

/* .custom-button-filled:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
} */

/* .custom-button-outline {
  border: 2px solid var(--highlight-color);
  background-color: white;
  color: var(--highlight-color);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
} */

/* .custom-button-outline:hover {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
} */
/* Navbar */

/* .container {

border-top: 3px solid #9E8D47;
margin-bottom: 20px;

} */
.nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
  border-top: 3px solid #9e8d47;
}

#navbar {
  /* background-color: var(--primary-color); */

  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  /* margin-right: 1rem; */
  justify-items: center;

  width: 100%;
  height: 160px;
  /* padding: 2px; */
  background: url("../images/background/iStock-1130565676.jpg");
  border-bottom: 3px solid #9e8d47;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--primary-text-color);
  background-color: #cef542;
  /* text-decoration: underline; */
}

.nav-pills .nav-link:hover {
  color: var(--primary-text-color);
  background-color: rgba(82, 234, 26, 0.4);
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  color: #52ea1a;
  background-color: var(--primary-text-color);
  /* text-decoration: underline; */
}

.nav-pills .nav-link {
  color: var(--primary-text-color);
  background-color: #9e8d47;
  border-radius: 1;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nav-pills,
.nav-pills .show > .nav-link {
  color: var(--primary-text-color);
}

#navbar .logo {
  width: 30px;
}

/* Header */

#header .lead {
  font-family: var(--secondary-font);
}

/* Sightseeing */

#sightseeing .card-footer {
  font-weight: bold;
  color: var(--highlight-color);
  background-color: transparent;
}

#sightseeing .card {
  margin-bottom: 1.5rem;
}

/* Cards */

.card {
  /* from https://stackoverflow.com/questions/56727613/how-can-i-customize-cards-positioning-bootstrap */
  /* https://stackoverflow.com/questions/66151384/add-spacing-between-bootstrap-cards */
  position: relative;
  top: 15px;

  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-left: auto;
  margin-right:100px!important; */
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  width: auto;
}
#sightseeing .card-body,
#dining-pubs-lodging .card-body {
  /* https://stackoverflow.com/questions/48406628/bootstrap-align-button-to-the-bottom-of-card#:~:text=By%20default%2C%20the%20card%20is,the%20bottom%20of%20the%20Card. */
  display: flex;
  flex-direction: column;
  min-height: 622px;
}

/* .row-fit-cards .card {
  width: 100%;
} */

/* .cards-wrapper{

  column-gap: 8px;
} */

/* Reserve game */

.reservation {
  max-width: 290px;
  justify-content: center;
}

/* Footer / contact */

#contact {
  background-color: var(--primary-color);
  color: white;
  padding-bottom: 3rem;
}

#contact h2 {
  color: white;
}

#contact .sub-heading-color {
  color: var(--highlight-color-light);
}

#contact i {
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-right: 15px;
}

#contact .social-links i {
  color: var(--highlight-color-light);
  font-size: 1.9rem;
  transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
  color: var(--secondary-color);
}

#contact .table-dark * {
  background-color: transparent;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  /* width: 100%; */
  position: relative;

  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;

  /* border: 2px solid black;
   outline: 2px solid black; */
}

#submit-ideas .container,
#submit-ideas .container-fluid,
#submit-ideas .container-lg,
#submit-ideas .container-md,
#submit-ideas .container-sm,
#submit-ideas .container-xl,
#submit-ideas .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  /* width: 100%; */
  position: relative;

  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;

  /* border: 2px solid black;
   outline: 2px solid black; */
}

.row > * {
  flex-shrink: 0;
  width: 80%;
  max-width: 95%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin: auto;
  /* margin-top: 120px; */
}

#submit-ideas .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* margin-top: 10px; */
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  margin-top: 95px;
}

.input-field {
  background-color: #cef542;
}

/* textarea #comments .form-control {

  background-color: #cef542;
} */

/* Media queries */

/* Small devices (tablets, 360px to 576px) */
/* Accommodate text-wrap of h1 #welcome-text */
@media screen and (min-width: 360px) and (max-width: 500px) {
  #welcome-text {
    margin-top: 4px;
    font-size: large;
    line-height: 2rem;
  }

  #header-text {
    background-color: #2d4d38;
    /* border-bottom: 3px solid #9E8D47; */
    height: 100px;
    width: 288px;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .heading-text h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 170px;
    font-family: var(--secondary-font);
    /* justify-content: center; */
  }

    .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
    /* justify-content: center; */
  }

  .container {
    /* border-top: 3px solid #9E8D47; */
    margin-bottom: 20px;
    position: absolute;
    top: 125px;
  }

  #navbar {
    /* background-color: var(--primary-color); */

    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    /* margin-right: 1rem; */
    justify-items: center;

    width: 100%;
    height: 225px;

    border-bottom: 3px solid #9e8d47;
  }

  .img-container-topmost {
    margin-top: 150px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  #submit-ideas .row {
    margin-top: 105px;
  }
}

@media screen and (min-width: 501px) and (max-width: 528px) {
  #welcome-text {
    margin-top: -4px;
    line-height: 2.5rem;
  }

  #header-text {
    height: 100px;
    width: 355px;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

    .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
    /* justify-content: center; */
  }

  .heading-text h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 170px;
    font-family: var(--secondary-font);
    /* justify-content: center; */
  }

  .container {
    margin-bottom: 20px;
    position: absolute;
    top: 125px;
  }

  #navbar {
    /* background-color: var(--primary-color); */

    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    /* margin-right: 1rem; */
    justify-items: center;

    width: 100%;
    height: 225px;

    border-bottom: 3px solid #9e8d47;
  }

  .img-container-topmost {
    margin-top: 160px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  #submit-ideas .row {
    margin-top: 105px;
  }
}

/* Small devices (tablets, 576px and smaller) */
@media screen and (min-width: 528px) {
  /* Make all service cards the same height for consistency */
  #welcome-text {
    margin-top: 10px;
  }

  #header-text {
    background-color: #2d4d38;
    /* border-bottom: 3px solid #9E8D47; */
    height: 70px;
    width: auto;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
    /* justify-content: center; */
  }

    .heading-text h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 160px;
    font-family: var(--secondary-font);
    /* justify-content: center; */
  }

  .img-container-topmost {
    margin-top: 140px;
  }

  #navbar {
    /* background-color: var(--primary-color); */

    height: 205px;

    border-bottom: 3px solid #9e8d47;
  }

  .container {
    /* border-top: 3px solid #9E8D47; */
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }
}

@media screen and (min-width: 529px) and (max-width: 767px) {
  /* Make all service cards the same height for consistency */
  #welcome-text {
    margin-top: 0;
    line-height: 3rem;
  }

  .img-container-topmost {
    margin-top: 138px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  .container {
    /* border-top: 3px solid #9E8D47; */
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 767px) {
  /* Make all service cards the same height for consistency */

  #header-text {
    background-color: #2d4d38;
    /* border-bottom: 3px solid #9E8D47; */
    height: 70px;
    width: auto;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

    .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
    /* justify-content: center; */
  }

  #welcome-text {
    margin-top: 10px;
  }

  .img-container-topmost {
    margin-top: 150px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  .container {
    /* border-top: 3px solid #9E8D47; */
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }

  .input-field {
    max-width: 350px;
  }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
  #header-text {
    background-color: #2d4d38;
    /* border-bottom: 3px solid #9E8D47; */
    height: 70px;
    width: auto;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

    .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
    /* justify-content: center; */
  }

  #welcome-text {
    margin-top: 10px;
  }

  .img-container-topmost {
    margin-top: 160px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  .container {
    /* border-top: 3px solid #9E8D47; */
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }

  .input-field {
    max-width: 350px;
  }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  /* make all service cards the same height for consistency */

  #welcome-text {
    margin-top: 10px;
    text-align: center;
  }

  .img-container-topmost {
    margin-top: 185px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  #header-text {
    background-color: #2d4d38;
    /* border-bottom: 3px solid #9E8D47; */
    height: 70px;
    width: auto;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

    .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
    /* justify-content: center; */
  }

  .container {
    /* border-top: 3px solid #9E8D47; */
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }

  .input-field {
    max-width: 350px;
  }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  /* make all service cards the same height for consistency */

  #header-text {
    background-color: #2d4d38;
    /* border-bottom: 3px solid #9E8D47; */
    height: 70px;
    width: auto;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  #welcome-text {
    margin-top: 10px;
  }

  .container {
    /* border-top: 3px solid #9E8D47; */
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }

  .img-container-topmost {
    margin-top: 185px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  .input-field {
    max-width: 350px;
  }
}
