/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Playwrite+IE:wght@100..400&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
  --primary-color: darkgreen; /* dark green */
  --secondary-color: #aa9581; /* light brown */
  --highlight-color: #416a8e; /* blue */
  --highlight-color-light: #7a9fc2; /* light blue */
  --primary-text-color: #5c2d2d;
}

/* Global styles */

header {
  
  z-index: 100;
}

body {
  font-family: var(--primary-font);
 margin-top: 90px;
  /* background-color: var(--primary-color); */
  /* background-image: ; */
  display: flex;
  background: url("../images/background/Dunluce-Castle-Northern-Ireland.webp");
     background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main #page-background {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  background: url("../images/background/Dunluce-Castle-Northern-Ireland.webp");
     background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
  /* object-fit: contain;
  position: relative; */
}

#intro-text {
  margin-top: 140px;
  color: gold;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 10px; */
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  /* margin-top: 120px; */
}

/* page background section */
/* #hero {
  height: 600px;
  width: 100%;
  background: url("../images/background/Dunluce-Castle-Northern-Ireland.webp") no-repeat center center/cover;
  position: relative;
} */

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h1,
h2 {
  text-transform: uppercase;
}

/* h1 {

  margin-top: 80px;
  text-align: center;
} */

#welcome-text {
  /* // <weight>: Use a value from 100 to 400
// <uniquifier>: Use a unique and descriptive class name */

  font-family: "Playwrite IE", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: yellow;
  /* margin-top: 80px; */
  text-align: center;
  display: flex;
  position: fixed;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

h2 {
  margin-bottom: 2rem;
}

.sub-heading-color {
  color: var(--highlight-color);
}

.section {
  padding-top: 4rem;
}

.discount-text {
  width: 290px;
  /* max-width: 320px; */
  background-color: var(--highlight-color);
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Buttons */

.custom-button-filled {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: white;
}

.custom-button-filled:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
}

.custom-button-outline {
  border: 2px solid var(--highlight-color);
  background-color: white;
  color: var(--highlight-color);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
}

.custom-button-outline:hover {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
}
/* Navbar */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

#navbar {
  background-color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  /* margin-right: 1rem; */
justify-items: center;


  width: 100%;
  /* padding: 2px; */

  /* background-color: var(--primary-color);
  color: #fff;
  
  min-height: 80px; 
  position: sticky; 
  top: 0; 
  
  z-index: 9999; */



}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--primary-text-color);
  background-color: #52ea1a;
  /* text-decoration: underline; */
}

.nav-pills .nav-link:hover {
  color: var(--primary-text-color);
  background-color: rgba(82, 234, 26, 0.4);
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  color: #52ea1a;
  background-color: var(--primary-text-color);
  /* text-decoration: underline; */
}

.nav-pills .nav-link {
  color: #52ea1a;
  background-color: var(--primary-text-color);
  border-radius: 0;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nav-pills,
.nav-pills .show > .nav-link {
  color: var(--primary-text-color);
}

#navbar .logo {
  width: 30px;
}

/* Header */

#header .lead {
  font-family: var(--secondary-font);
}

/* Services */

#services .card-footer {
  font-weight: bold;
  color: var(--highlight-color);
  background-color: transparent;
}

#services .card {
  margin-bottom: 1.5rem;
}

/* Game library cards */

#new-games .card,
#fav-games .card {
  border: none;
}

/* Reserve game */

.reservation {
  max-width: 290px;
  justify-content: center;
}

/* Footer / contact */

#contact {
  background-color: var(--primary-color);
  color: white;
  padding-bottom: 3rem;
}

#contact h2 {
  color: white;
}

#contact .sub-heading-color {
  color: var(--highlight-color-light);
}

#contact i {
  color: var(--secondary-color);
  font-size: 1.2rem;
  margin-right: 15px;
}

#contact .social-links i {
  color: var(--highlight-color-light);
  font-size: 1.9rem;
  transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
  color: var(--secondary-color);
}

#contact .table-dark * {
  background-color: transparent;
}

/* Media queries */
/* Small devices (tablets, 440px and smaller) */
@media screen and (max-width: 440px) {
  /* allow for stacking of nav pills in two rows for extra small screens less than 440px */
  #intro-text {
    margin-top: 310px;
    color: gold;
  }

  #welcome-text {
    margin-top: 130px;
  }
}

/* Small devices (tablets, 440px to 576px) */
/* Accommodate text-wrap of h1 #welcome-text */
@media screen and (min-width: 440px) {
  #intro-text {
    margin-top: 255px;
    color: gold;
  }

  #welcome-text {
    margin-top: 80px;
  }
}

/* Small devices (tablets, 576px and smaller) */
@media screen and (min-width: 576px) {
  /* Make all service cards the same height for consistency */
  #welcome-text {
    margin-top: 80px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: 191px;
  }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: auto;
  }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  /* make all service cards the same height for consistency */
  #services .card-body {
    min-height: 220px;
  }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  /* make all service cards the same height for consistency */
  #services .card-body {
    min-height: 195px;
  }
}
