/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Playwrite+IE:wght@100..400&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Macondo", cursive;
  --primary-color: darkgreen; /* dark green */
  --secondary-color: #aa9581; /* light brown */
  --highlight-color: #416a8e; /* blue */
  --highlight-color-light: #7a9fc2; /* light blue */
  --primary-text-color: #5c2d2d;
}

/* Global styles */

main #page-background {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);

  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.section {
  padding-top: 4rem;
  justify-content: center;
}

header {
  z-index: 100;
}

body {
  font-family: var(--primary-font);
  margin-top: 90px;
  background-color: #2d4d38;
}

.form-control {
  background-color: #cef542;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + calc(var(--bs-border-width) * 2));
  margin-bottom: 20px;
}

#submit-button .btn {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
}

/* Image styling */

.img-container-topmost {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 15px;
}

.img-container-carousel {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 15px;
  padding-top: 0;
}

.img-container-submit-confirmation {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Card styling */

.card-group {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: auto;
}

.card-body {
  width: 100%;
}

/* scss overrides */

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  margin-top: 50px;
}

.row > * {
  flex-shrink: 0;
  width: 80%;
  max-width: 95%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin: auto;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;

  position: relative;

  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

/* Text styling */

.heading-text h2 {
  text-transform: uppercase;
  text-align: center;
  color: #cef542;
  position: relative;
  margin-top: 255px;
  font-family: var(--secondary-font);
}

.heading-text h3 {
  text-transform: uppercase;
  text-align: center;
  color: #cef542;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-transform: uppercase;
  color: #cef542;
  position: relative;
  margin-top: 140px;
  z-index: 200;
}

.hide-display {
  display: none;
}

#header-text {
  background-color: #2d4d38;

  height: 70px;
  width: auto;
  border: 5px solid #9e8d47;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#welcome-text {
  font-family: "Playwrite IE", cursive;

  font-weight: 100;
  font-style: normal;
  font-size: x-large;
  color: #cef542;

  padding: 10px 10px 10px 10px;
  line-height: 1em;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;

  width: 100%;

  background-color: transparent;
  z-index: 100;
}

.welcome-text {
  font-family: "Playwrite IE", cursive;

  font-weight: 100;
  font-style: normal;
  font-size: x-large;
  color: #cef542;

  padding: 10px 10px 10px 10px;
  line-height: 1em;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;

  width: 100%;

  background-color: transparent;
  z-index: 100;
}

#text-above-grid {
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;

  font-weight: 100;
  font-style: normal;
  font-size: x-large;
  color: #cef542;

  padding: 10px 10px 10px 10px;

  position: relative;

  margin-top: 20px;
  z-index: 200;

  width: 100%;

  background-color: transparent;
}

.form-text {
  font-family: var(--primary-font);

  font-weight: 100;
  font-style: normal;
  font-size: large;
  color: #cef542;

  padding: 10px 10px 10px 10px;

  text-align: justify;
  display: flex;
  position: relative;
  justify-content: left;

  margin-top: 20px;
  z-index: 200;

  width: 100%;

  background-color: transparent;
}

.intro-text {
  margin-top: 15px;
  color: #cef542;
}

h2 {
  margin-bottom: 2rem;
}

.sub-heading-color {
  color: var(--highlight-color);
}

/* Navigation related */

#navbar {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0;

  justify-items: center;

  width: 100%;
  height: 160px;

  background: url("../images/background/iStock-1130565676.jpg");
  border-bottom: 3px solid #9e8d47;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--primary-text-color);
  background-color: #cef542;
}

.nav-pills .nav-link:hover {
  color: var(--primary-text-color);
  background-color: rgba(82, 234, 26, 0.4);
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  color: #52ea1a;
  background-color: var(--primary-text-color);
}

.nav-pills .nav-link {
  color: var(--primary-text-color);
  background-color: #9e8d47;
  border-radius: 1px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nav-pills,
.nav-pills .show > .nav-link {
  color: var(--primary-text-color);
}

#navbar .logo {
  width: 30px;
}


/* Sightseeing */

#sightseeing .card-footer {
  font-weight: bold;
  color: var(--highlight-color);
  background-color: transparent;
}

#sightseeing .card {
  margin-bottom: 1.5rem;
}

/* Card styling */

.card {
  /* from https://stackoverflow.com/questions/56727613/how-can-i-customize-cards-positioning-bootstrap */
  /* https://stackoverflow.com/questions/66151384/add-spacing-between-bootstrap-cards */
  position: relative;
  top: 15px;

  margin-top: 20px;
  margin-bottom: 20px;

  text-align: justify;

  margin-left: auto;
  margin-right: auto;
  width: auto;
}
#sightseeing .card-body,
#dining-pubs-lodging .card-body {
  /* https://stackoverflow.com/questions/48406628/bootstrap-align-button-to-the-bottom-of-card#:~:text=By%20default%2C%20the%20card%20is,the%20bottom%20of%20the%20Card. */
  display: flex;
  flex-direction: column;
  min-height: 622px;
}

/* Submit ideas page */

#submit-ideas .container,
#submit-ideas .container-fluid,
#submit-ideas .container-lg,
#submit-ideas .container-md,
#submit-ideas .container-sm,
#submit-ideas .container-xl,
#submit-ideas .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;

  position: relative;

  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}



#submit-ideas .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  margin-top: 95px;
}

.input-field {
  background-color: #cef542;
}

/* Media queries */

/* Intermediate breakpoint (360-500px) */

@media screen and (min-width: 360px) and (max-width: 500px) {
  #welcome-text {
    margin-top: 4px;
    font-size: large;
    line-height: 2rem;
  }

  #header-text {
    background-color: #2d4d38;

    height: 100px;
    width: 288px;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .heading-text h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 170px;
    font-family: var(--secondary-font);
  }

  .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
  }

  .container {
    margin-bottom: 20px;
    position: absolute;
    top: 125px;
  }

  #navbar {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;

    justify-items: center;

    width: 100%;
    height: 225px;

    border-bottom: 3px solid #9e8d47;
  }

  .img-container-topmost {
    margin-top: 150px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  #submit-ideas .row {
    margin-top: 105px;
  }
}
/* Intermediate breakpoint (501-528px) */
@media screen and (min-width: 501px) and (max-width: 528px) {
  #welcome-text {
    margin-top: -4px;
    line-height: 2.5rem;
  }

  #header-text {
    height: 100px;
    width: 355px;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
  }

  .heading-text h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 170px;
    font-family: var(--secondary-font);
  }

  .container {
    margin-bottom: 20px;
    position: absolute;
    top: 125px;
  }

  #navbar {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;

    justify-items: center;

    width: 100%;
    height: 225px;

    border-bottom: 3px solid #9e8d47;
  }

  .img-container-topmost {
    margin-top: 160px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  #submit-ideas .row {
    margin-top: 105px;
  }
}

/* Intermediate breakpoint (528px) */
@media screen and (min-width: 528px) {
  #welcome-text {
    margin-top: 10px;
  }

  #header-text {
    background-color: #2d4d38;

    height: 70px;
    width: auto;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
  }

  .heading-text h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 160px;
    font-family: var(--secondary-font);
  }

  .img-container-topmost {
    margin-top: 140px;
  }

  #navbar {
    height: 205px;

    border-bottom: 3px solid #9e8d47;
  }

  .container {
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }
}
/* Intermediate breakpoint (529-767px) */
@media screen and (min-width: 529px) and (max-width: 767px) {
  #welcome-text {
    margin-top: 0;
    line-height: 3rem;
  }

  .img-container-topmost {
    margin-top: 138px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  .container {
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }
}

/* Devices (tablets, 768px and up) */
@media screen and (min-width: 767px) {
  #header-text {
    background-color: #2d4d38;

    height: 70px;
    width: auto;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
  }

  #welcome-text {
    margin-top: 10px;
  }

  .img-container-topmost {
    margin-top: 150px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  .container {
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }

  .input-field {
    max-width: 350px;
  }
}

/* Devices (992px and larger) */
@media screen and (min-width: 992px) {
  #header-text {
    background-color: #2d4d38;

    height: 70px;
    width: auto;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
  }

  #welcome-text {
    margin-top: 10px;
  }

  .img-container-topmost {
    margin-top: 160px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  .container {
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }

  .input-field {
    max-width: 350px;
  }
}

/* Devices (1200px and larger) */
@media screen and (min-width: 1200px) {
  #welcome-text {
    margin-top: 10px;
    text-align: center;
  }

  .img-container-topmost {
    margin-top: 185px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  #header-text {
    background-color: #2d4d38;

    height: 70px;
    width: auto;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .heading-text-d-p-l h2 {
    text-transform: uppercase;
    text-align: center;
    color: #cef542;
    position: relative;
    margin-top: 250px;
    font-family: var(--secondary-font);
  }

  .container {
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }

  .input-field {
    max-width: 350px;
  }
}

/* Devices (1400px and larger) */
@media screen and (min-width: 1400px) {
  #header-text {
    background-color: #2d4d38;

    height: 70px;
    width: auto;
    border: 5px solid #9e8d47;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  #welcome-text {
    margin-top: 10px;
  }

  .container {
    margin-bottom: 20px;
    position: absolute;
    top: 105px;
  }

  .img-container-topmost {
    margin-top: 185px;
  }

  .img-container-submit-confirmation {
    margin-top: 40px;
  }

  .input-field {
    max-width: 350px;
  }
}
